<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bigtime Test Suite" preserve-order="true">
    <test name="Test on Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testcases.AllowanceTypeTest"/>
            <class name="testcases.ContractTest"/>
            <class name="testcases.DebtTest"/>
            <class name="testcases.EvaluationTypeTest"/>
            <class name="testcases.LeaveApplicationTest"/>
            <class name="testcases.LoginTest"/>
            <class name="testcases.LogoutTest"/>
            <class name="testcases.PaysheetTest"/>
            <class name="testcases.TermTest"/>
        </classes>
    </test>
</suite>
